In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [5]:
np.random.seed(101)

In [8]:
df = pd.DataFrame(randn(5,4),['a','b','c','d','e'],['w','x','y','z'])

In [9]:
df

          w         x         y         z
a  0.302665  1.693723 -1.706086 -1.159119
b -0.134841  0.390528  0.166905  0.184502
c  0.807706  0.072960  0.638787  0.329646
d -0.497104 -0.754070 -0.943406  0.484752
e -0.116773  1.901755  0.238127  1.996652

In [10]:
df['w']

a    0.302665
b   -0.134841
c    0.807706
d   -0.497104
e   -0.116773
Name: w, dtype: float64

In [11]:
type(df['w'])

pandas.core.series.Series

In [12]:
df[['w','z']]

          w         z
a  0.302665 -1.159119
b -0.134841  0.184502
c  0.807706  0.329646
d -0.497104  0.484752
e -0.116773  1.996652

In [14]:
df['new'] = df['w']+df['y']

In [15]:
df

          w         x         y         z       new
a  0.302665  1.693723 -1.706086 -1.159119 -1.403420
b -0.134841  0.390528  0.166905  0.184502  0.032064
c  0.807706  0.072960  0.638787  0.329646  1.446493
d -0.497104 -0.754070 -0.943406  0.484752 -1.440510
e -0.116773  1.901755  0.238127  1.996652  0.121354

In [18]:
df.drop('new',axis=1,inplace=True)

In [19]:
df

          w         x         y         z
a  0.302665  1.693723 -1.706086 -1.159119
b -0.134841  0.390528  0.166905  0.184502
c  0.807706  0.072960  0.638787  0.329646
d -0.497104 -0.754070 -0.943406  0.484752
e -0.116773  1.901755  0.238127  1.996652

In [20]:
df.drop('e')

          w         x         y         z
a  0.302665  1.693723 -1.706086 -1.159119
b -0.134841  0.390528  0.166905  0.184502
c  0.807706  0.072960  0.638787  0.329646
d -0.497104 -0.754070 -0.943406  0.484752

In [22]:
df.shape

(5, 4)

In [23]:
df[['z','x']]

          z         x
a -1.159119  1.693723
b  0.184502  0.390528
c  0.329646  0.072960
d  0.484752 -0.754070
e  1.996652  1.901755

In [24]:
df.loc['a']

w    0.302665
x    1.693723
y   -1.706086
z   -1.159119
Name: a, dtype: float64

In [26]:
df.iloc[2]

w    0.807706
x    0.072960
y    0.638787
z    0.329646
Name: c, dtype: float64

In [29]:
df.loc['b','y']

0.16690463609281317

In [30]:
df.loc[['a','c'],['x','z']]

          x         z
a  1.693723 -1.159119
c  0.072960  0.329646

In [31]:
df>0

       w      x      y      z
a   True   True  False  False
b  False   True   True   True
c   True   True   True   True
d  False  False  False   True
e  False   True   True   True

In [32]:
booldf = df > 0
df[booldf]

          w         x         y         z
a  0.302665  1.693723       NaN       NaN
b       NaN  0.390528  0.166905  0.184502
c  0.807706  0.072960  0.638787  0.329646
d       NaN       NaN       NaN  0.484752
e       NaN  1.901755  0.238127  1.996652

In [33]:
df['w'] > 0

a     True
b    False
c     True
d    False
e    False
Name: w, dtype: bool

In [34]:
df['w']

a    0.302665
b   -0.134841
c    0.807706
d   -0.497104
e   -0.116773
Name: w, dtype: float64

In [37]:
df[df['w']>0][['x','y']]

          x         y
a  1.693723 -1.706086
c  0.072960  0.638787

In [41]:
boolser = df['w']>0
result = df[boolser]
mycols = ['y','x']
result[mycols]

          y         x
a -1.706086  1.693723
c  0.638787  0.072960

In [39]:
result

          w         x         y         z
a  0.302665  1.693723 -1.706086 -1.159119
c  0.807706  0.072960  0.638787  0.329646

In [43]:
df.reset_index(inplace = True)

In [45]:
newind= 'ab cd ef gd'.split()
newind

['ab', 'cd', 'ef', 'gd']

In [51]:
df

  index         w         x         y         z
0     a  0.302665  1.693723 -1.706086 -1.159119
1     b -0.134841  0.390528  0.166905  0.184502
2     c  0.807706  0.072960  0.638787  0.329646
3     d -0.497104 -0.754070 -0.943406  0.484752
4     e -0.116773  1.901755  0.238127  1.996652

In [3]:
outside = ['g1','g1','g1','g2','g2','g2']
inside = [1,3,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.multiIndux.from_tuples(hier_index)

NameError: name 'pd' is not defined

In [4]:
hier_index

[('g1', 1), ('g1', 3), ('g1', 3), ('g2', 1), ('g2', 2), ('g2', 3)]

In [8]:
df = pd.dataFrame(randn(6,2),hier_index,['a','b'])

NameError: name 'pd' is not defined

In [9]:
df

NameError: name 'df' is not defined